{% extends 'base.html' %}

{%block header%}
{% include  'preelec9_camp/base_header.html' %}
{% endblock%}
{% block content%}
<div style="padding-top: 10%; padding-bottom: 10%; max-height: 10000px;">
    <div class="card bg-light" style="padding: 3%; max-width: 800px; margin: auto;" >
        <article  class="center" style="max-width: 800px; ">
            <h1 style="text-align: center;">{{title}}</h1>
<form action="" method="post">
    {% csrf_token %}
    
    <p><label for="id_shirt_size">ไซส์เสื้อ : <p1>{{ form.shirt_size.errors }}</p1></label> </p>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg> </span>
		 </div>
            {{ form.shirt_size}}
    </div>

    <p><label for="id_shirt_size">สิ่งที่อยากจะบอก : <p1>{{ form.passion.errors }}</p1></label> </p>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    
		 </div>
            {{ form.passion}}
    </div>

    <p><label for="id_shirt_size">ชื่อผู้ปกครอง : <p1>{{ form.parent_name.errors }}</p1></label> </p>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg> </span>
		 </div>
            {{ form.parent_name}}
    </div>

    <p><label for="id_shirt_size">เบอร์โทรศัพท์ติดต่อผู้ปกครอง : <p1>{{ form.parent_telephone_num.errors }}</p1></label> </p>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg> </span>
		 </div>
            {{ form.parent_telephone_num}}
    </div>
    <button type="submit" class="btn btn-primary btn-block "> {{button}}</button>

</form>

        </article>
        </div>
        </div>
{% endblock %}