{% extends '../account/base.html' %}
{% block extra_head%}
<script>
var status = '{{data.completed}}'
$(document).ready(function(){
    $('#changedata_form').hide()
    $("#editdata").click(function(){
        $("#data").hide();
        $('#changedata_form').show()
    });
    if (status != 'True'){
        $("#data").hide();
        $('#changedata_form').show()
    }
});
</script>
<style>
  h1{
    text-align: center;
  }
ul li{
  margin: 2%;
  }
</style>
{% endblock%}
{% block content %}
<div style="padding-top: 10%; padding-bottom: 10%;">
  <div class="card bg-light" style="padding: 3%; max-width: 800px; margin: auto;" >
      <article  class="center" style="max-width: 700px; ">
<h1>ข้อมูลส่วนตัว</h1>
<p> </p>
<div id = 'data' > 
<ul>

    <li>คำนำหน้า: {{data.gender}}</li>
    <li>ชื่อ-นามสกุล: {{data.name}} {{data.surname}}</li>
    <li>ชื่อเล่น: {{data.nickname}}</li>
    <li>รหัสนักศึกษา: {{data.student_id}}</li>
    <li>วันเดือนปีเกิด: {{data.birth_date}}</li>
    <li>ที่อยู่: {{data.address}}</li>
    <li>หมายเลขโทรศัพท์: {{data.self_telephone_num}}</li>
    <li>ไอดีไลน์: {{data.line_id}}</li>
    <li>เฟซบุ๊ก: {{data.facebook}}</li>
    <li>อินสตาแกรม: {{data.instagram}}</li>
</ul>
<button  class="btn btn-warning btn-block" id ='editdata'>แก้ไขข้อมูล</button>
</div>
<div id = 'changedata_form'>
<form method="post" action = ''>
    {% csrf_token %}
    
    <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_name" style="margin: auto; ">คำนำหน้า :</label> </span>
                  {{ form.gender.errors }}
                  {{ form.gender}}
      </div>

    <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_name" style="margin: auto; ">ชื่อ :</label> </span>
                  {{ form.name.errors }}
                  {{ form.name }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">นามสกุล :</label> </span>
            {{ form.surname.errors }}
              {{ form.surname }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">ชื่อเล่น :</label> </span>
            {{ form.nickname.errors }}
            {{ form.nickname }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">รหัสนักศึกษา :</label> </span>
              {{ form.student_id.errors }}
              {{ form.student_id }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">วันเดือนปีเกิด :</label> </span>
              {{ form.birth_date.errors }}
              {{ form.birth_date }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">ที่อยู่ :</label> </span>
              {{ form.address.errors }}
              {{ form.address }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">หมายเลขโทรศัพท์ :</label> </span>
              {{ form.self_telephone_num.errors }}
              {{ form.self_telephone_num }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">Line id :</label> </span>
              {{ form.line_id.errors }}
              {{ form.line_id }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">Facebook :</label> </span>
              {{ form.facebook.errors }}
              {{ form.facebook }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">instagram :</label> </span>
              {{ form.instagram.errors }}
              {{ form.instagram }}
      </div>
  
  
     
  
      <button class="btn btn-success btn-block" type="submit" >บันทึกข้อมูล</button>
</form>
</div>
</article>
</div>
</div>

{% endblock %}