{% load static%}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" type="image/png" href="{%static 'assets/img/Bear.png'%}"/>
  <title>{{title_name}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="{%static 'assets/img/favicon.png' %}" rel="icon">-->
  <link href='{%static "assets/img/apple-touch-icon.png"%}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static "assets/vendor/bootstrap/css/bootstrap.min.css"%}' rel="stylesheet">
  <link href='{% static "assets/vendor/icofont/icofont.min.css"%}' rel="stylesheet">
  <link href='{% static "assets/vendor/boxicons/css/boxicons.min.css"%}' rel="stylesheet">
  <link href='{% static "assets/vendor/remixicon/remixicon.css"%}' rel="stylesheet">
  <link href='{% static "assets/vendor/venobox/venobox.css"%}' rel="stylesheet">
  <link href='{% static "assets/vendor/owl.carousel/assets/owl.carousel.min.css"%}' rel="stylesheet">
  <link href='{% static "assets/vendor/aos/aos.css"%}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "assets/css/test_style.css"%}' rel="stylesheet">
  <link href='{% static "assets/js/main.js"%}' rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v2.2.2
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>
{%block header%}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{{ HTTP_HOST }}/">EE KMITL</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul style="text-align: center;">
          <li class="active"><a href="{{ HTTP_HOST }}/">หน้าหลัก</a></li>
          <li><a href="#about">เกี่ยวกับเรา</a></li>
          <li><a href="#covid">โควิด-19</a></li>
          <li><a href="#team">ทีมงาน</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contact">ติดต่อเรา</a></li>
          <li>   </li>

        
      {% endblock%}
      {% if user.is_authenticated %}   
                <li class="drop-down">
                  <a>{{user.email}}</a> 
                    <ul>
                        <center><li><a href="/accounts/userprofile?next={{ request.get_full_path }}">ข้อมูลส่วนตัว</a></li></center>
                        <center><li><a href="/accounts/email?next={{ request.get_full_path }}">เปลี่ยนอีเมล</a></li></center>
                        {%if user.socialaccount_set%}
                        {%else%}
                        <center><li><a href="/accounts/password/change?next={{ request.get_full_path }}">เปลี่ยนรหัสผ่าน</a></li></center>
                        {%endif%}
                       <li ><a class="btn btn-danger btn-block" style = 'width:70%; color:white; margin:auto' href="{{ HTTP_HOST }}/accounts/logout?next={{ request.get_full_path }}">ออกจากระบบ</a></li>
                    </ul>
                  </li>
            </ul>
        
      {%else%}
      <a href="/accounts/login?next={{ request.get_full_path }}" class="get-started-btn" style="color:rgb(255, 255, 255); margin: auto; ">ลงชื่อเข้าใช้/สมัครสมาชิก</a>
      {%endif%}
      </nav>
    </div>
    
  </header><!-- End Header -->

{% block content %}
 
{%endblock %}
    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright 2021 <strong><span>Electronics Engineering, KMITL</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src='{% static "assets/vendor/jquery/jquery.min.js"%}'></script>
  <script src='{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"%}'></script>
  <script src='{% static "assets/vendor/jquery.easing/jquery.easing.min.js"%}'></script>
  <script src='{% static "assets/vendor/php-email-form/validate.js"%}'></script>
  <script src='{% static "assets/vendor/waypoints/jquery.waypoints.min.js"%}'></script>
  <script src='{% static "assets/vendor/counterup/counterup.min.js"%}'></script>
  <script src='{% static "assets/vendor/venobox/venobox.min.js"%}'></script>
  <script src='{% static "assets/vendor/owl.carousel/owl.carousel.min.js"%}'></script>
  <script src='{% static "assets/vendor/isotope-layout/isotope.pkgd.min.js"%}'></script>
  <script src='{% static "assets/vendor/aos/aos.js"%}'></script>

  <!-- Template Main JS File -->
  <script src='{% static "assets/js/main.js"%}'></script>

</body>

</html>