{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block extra_head%}
<style>
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
{% endblock%}
{% block content %}
<div style="padding-top: 25%; padding-bottom: 10%;">
  <div class="card bg-light" style="padding: 3%; max-width: 800px; margin: auto;" >
      <article  class="center" style="max-width: 800px; ">
        <a type="button" class="btn btn-primary" href ='/'><i class="fa fa-home"></i>  หน้าหลัก</a> 
<h1>ออกจากระบบ</h1>

<p>คุณแน่ใจหรือว่าต้องการจะออกจากระบบ</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" name="action" class="btn btn-danger btn-block" > ออกจากระบบ </button>
  
</form>
  </article>
  </div>
  </div>
  

{% endblock %}
