{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div style="padding-top: 10%; padding-bottom: 10%;">
    <div class="card bg-light " style="margin-top: 5%;"  >
    <article class="card-body mx-auto" style="width: 50%; ">
<h1 class="card-title mt-3 text-center">{% trans "รีเซ็ตรหัสผ่าน" %}</h1>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "ลืมรหัสผ่านหรอ? ใส่อีเมลแอดเดรสในแถบข้างล่าง แล้วเราจะส่งการยืนยันการเปลี่ยนรหัสผ่านในอีเมลของคุณในภายหลัง" %}</p>

<form method="POST"   action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    <p><label for="id_email">อีเมล :</label> </p>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
            {{ form.email.errors }}
            {{ form.email }}
    </div>
    <p>  </p>
    <button type="submit" class="btn btn-primary btn-block "> รีเซ็ตรหัสผ่าน  </button>
</form>
<p> </p>
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </article>
    </div>
    </div>
    
{% endblock %}