{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div style="padding-top: 10%; padding-bottom: 10%;">
    <div class="card bg-light" style="padding: 2%; max-width: 800px; margin: auto;" >
        <article  class="center" style="max-width: 800px; ">
            <a type="button" class="btn btn-primary" href ='/'><i class="fa fa-home"></i>  หน้าหลัก</a>  
    <h1 class="card-title mt-3 text-center">เปลื่ยนรหัสผ่าน</h1>
    <p></p>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        
        <p><label for="id_oldpassword">รหัสผ่านปัจจุบัน :</label> </p>
        <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-fa fa-lock"></i> </span>
		 </div>
            {{ form.oldpassword.errors }}
            {{ form.oldpassword }}
        </div>

        <p><label for="id_password1">รหัสผ่านใหม่ :</label> </p>
        <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-fa fa-lock"></i> </span>
		 </div>
            {{ form.password1.errors }}
            {{ form.password1 }}
        </div>

        <p><label for="id_password2">ยืนยันรหัสผ่านใหม่ :</label> </p>
        <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-fa fa-lock"></i> </span>
		 </div>
            {{ form.password2.errors }}
            {{ form.password2 }}
        </div>
        <p><label for="id_password2"></label> </p>

        <button type="submit" name="action" class="btn btn-success btn-block" > เปลื่ยนรหัสผ่าน </button>
        <!--<button type="submit" name="action">{% trans "Change Password" %}</button> -->
        <a  class="btn btn-warning btn-block"  href="{% url 'account_reset_password' %}"> ลืมรหัสผ่าน  </a>
        <p></p>

    </form>
    
    </article>
    
    </div>
    </div>    
{% endblock %}
