{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head%}

{% endblock%}
{% block content %}
<div style="padding-top: 10%; padding-bottom: 10%; max-height: 1000px;">
<div class="card bg-light" style="padding: 3%; max-width: 800px; margin: auto;" >
    <article  class="center" style="max-width: 800px; ">
      <a type="button" class="btn btn-primary" href ='/'><i class="fa fa-home"></i>  หน้าหลัก</a> 
<h1 class="card-title mt-3 text-center"> สมัครสมาชิก </h1>
<p></p>
<p>{% blocktrans %}หากมีบัญชีอยู่แล้ว กรุณา<a href="{{ login_url }}">ลงชื่อเข้าใช้</a>{% endblocktrans %}</p>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <p><label for="id_username">ชื่อผู้ใช้ :</label> </p>
  <div class="form-group input-group">
    
		<div class="input-group-prepend">
    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
            {{ form.username.errors }}
            {{ form.username }}
    </div>

    <p><label for="id_email">อีเมล :</label> </p>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
            {{ form.email.errors }}
            {{ form.email }}
    </div>

    <p><label for="id_password1">รหัสผ่าน :</label> </p>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-fa fa-lock"></i> </span>
		 </div>
            {{ form.password1.errors }}
            {{ form.password1 }}
    </div>

    <p><label for="id_password2">ยืนยันรหัสผ่าน :</label> </p>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-fa fa-lock"></i> </span>
		 </div>
            {{ form.password2.errors }}
            {{ form.password2 }}
    </div>
    <p><label for="id_password2"></label> </p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary btn-block "> สมัครสมาชิก  </button>
  <p> </p>
 
</form>
</article>
</div>
</div>

{% endblock %}
