{% extends 'base.html' %}
{% load static%}
{%block header%}
<style>
  td{
    text-align: center;
  }
  th{
    text-align: center;
  }
</style>
{% include  'preelec9_camp/base_header.html' %}
{% endblock%}
{% block content%}
<div style="padding-top: 10%; padding-bottom: 10%; max-height: 50000px ; margin: 30px 10px 10px 10px  ">
    <div class="card bg-light " style="padding: 3%; max-width: 1200px; margin: auto;" >
        <article  class="center" style="max-width: 1200px; ">
            
<h2 style="text-align: center;">ข้อมูลน้องที่ลงทะเบียน</h2>

<div class="table-responsive">       
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ลำดับที่</th>
        <th>ชื่อ - นามสกุล</th>
        <th>ที่อยู่</th>
        <th>การรับของ</th>
        <th>การส่งของ</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in data %}
      <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{ obj.user.eeuserprofile.gender}} {{ obj.user.eeuserprofile.name}} {{ obj.user.eeuserprofile.surname}} <br>
            {{ obj.user.eeuserprofile.eng_name}} {{ obj.user.eeuserprofile.eng_surname}}</td>
        <td style="max-width: 300px;">{{ obj.user.eeuserprofile.address}} โทร {{ obj.user.eeuserprofile.self_telephone_num}}</td>
        {% if obj.confirmed%}
        <td style="color: green; font-weight: 600;">
            ได้รับของแล้ว
        </td>
        {% else%}
        <td style="color: crimson; font-weight: 600;">
          ยังไม่ได้รับของ
        </td>
        {% endif%}
        <td>
          {% if not obj.sent%}
                <form method='post' action =''>
                {% csrf_token %}
                <input type="hidden" name = 'pk' value="{{obj.pk}}">
                <input type='submit' name ='sent' class="btn btn-danger btn-block " value='ยังไม่ส่ง'>
                </form>
        {%else%}
              <input type='submit'  class="btn btn-success btn-block " value='ส่งแล้ว'>
        {% endif %}
        </td>
        
     {% empty %}
     <td>ยังไม่มีรายการ</td>
        
    {% endfor %}
      </tr>
    
    </tbody>
  </table>
  </div>


</article>
</div>
</div>
{% endblock %}