{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}
{% endblock %}
{% block content %}
<div style="padding-top: 5%; padding-bottom: 10%; max-height: 100px;" >
<div class="card bg-light" style="padding: 3%; max-width: 700px;margin: auto;" >
<article  class="center" style="max-width: 700px; ">
  <a type="button" class="btn btn-outline-primary" href ='/'><i class="fa fa-home"></i>  หน้าหลัก</a> 
	<h1 class="card-title mt-3 text-center">{% trans "Sign In" %}</h1>
  
	<p class="text-center">Welcome to EE KMITL</p>
	<p>
		<a href="../google/login/?process=login" class="btn btn-block btn-twitter"><i class="fab fa-google"></i>   Login with KMITL Account 2.0</a>
    <a type="submit" class="btn btn-primary btn-block" href="../signup"> สมัครสมาชิก </a>
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
            {{ form.login.errors }}
            {{ form.login }}
    </div>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		 </div>
            {{ form.password.errors }}
            {{ form.password }}
    </div>
    <div style="height: 35px;">{{ form.remember}} จดจำการลงชื่อเข้าใช้</div>
    <p> </p>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  
  <a  class="btn btn-warning btn-block"  href="{% url 'account_reset_password' %}"> ลืมรหัสผ่าน  </a>
  <button type="submit" class="btn btn-success btn-block" > ลงชื่อเข้าใช้  </button>
  <p> </p>
</form>
</article>
</div>
</div>
{% endblock %}
