{% extends '../account/base.html' %}
{% block extra_head%}
<script>
var status = '{{completed}}'
$(document).ready(function(){
    $('#changedata_form').hide()
    $("#editdata").click(function(){
        $("#data").hide();
        $('#changedata_form').show()
    });
    if (status != 'True'){
        $("#data").hide();
        $('#changedata_form').show()
    }
});
</script>
<style>
  h1{
    text-align: center;
  }
ul li{
  margin: 2%;
  font-size: 20px;
  }

</style>
{% endblock%}
{% block head_title %}
{{title_name}}
{% endblock %}
{% block content %}
<div style="padding-top: 10%; padding-bottom: 10%;">
  <div class="card bg-light" style="padding: 3%; max-width: 800px; margin: auto;" >
      <article  class="center" style="max-width: 800px; ">
        <a type="button" class="btn btn-outline-primary" href ='{{back_url}}'><i class="fa fa-home"></i> กลับ</a> 
<h1>ข้อมูลส่วนตัว</h1>

<p> </p>
<div id = 'data' > 
<ul>
  <h3>ข้อมูลทั่วไป</h3>
    <li>คำนำหน้า : {{data.gender}}</li>
    <li>ชื่อ-นามสกุล : {{data.name}} {{data.surname}}</li>
    <li>ชื่อ-นามสกุล (ภาษาอังกฤษ) : {{data.eng_name}} {{data.eng_surname}}</li>
    <li>ชื่อเล่น : {{data.nickname}}</li>
    <li>รหัสนักศึกษา : {{data.student_id}}</li>
    <li>วันเดือนปีเกิด : {{data.birth_date}}</li>
    <li>ศาสนา : {{data.religion}}</li>
    <h3>ข้อมูลติดต่อ</h3>
    <li>ที่อยู่ : {{data.address}}</li>
    <li>หมายเลขโทรศัพท์ : {{data.self_telephone_num}}</li>
    <li>Line id : {{data.line_id}}</li>
    <li>Facebook : {{data.facebook}}</li>
    <li>instagram : {{data.instagram}}</li>
    <h3>ประวัติการแพ้</h3>
    <li>อาหารที่แพ้ : {{data.allergic_foods}}</li>
    <li>ยาที่แพ้ : {{data.allergic_meds}}</li>
    <li>โรคประจำตัว : {{data.congenital_disease}}</li>
    

</ul>
<button  class="btn btn-warning btn-block" id ='editdata'>แก้ไขข้อมูล</button>
</div>
<div id = 'changedata_form'>
<form method="post" action = ''>
    {% csrf_token %}
    <h3>ข้อมูลทั่วไป</h3>
    <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_name" style="margin: auto; ">คำนำหน้า :</label> </span>
                  {{ form.gender.errors }}
                  {{ form.gender}}
      </div>

    <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_name" style="margin: auto; ">ชื่อ :</label> </span>
                  {{ form.name.errors }}
                  {{ form.name }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">นามสกุล :</label> </span>
            {{ form.surname.errors }}
              {{ form.surname }}
      </div>
      <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_eng_name" style="margin: auto; ">ชื่อ (ภาษาอังกฤษ) :</label> </span>
                  {{ form.eng_name.errors }}
                  {{ form.eng_name }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_eng_surname" style="margin: auto; ">นามสกุล (ภาษาอังกฤษ) :</label> </span>
            {{ form.eng_surname.errors }}
              {{ form.eng_surname }}
      </div>
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">ชื่อเล่น :</label> </span>
            {{ form.nickname.errors }}
            {{ form.nickname }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">รหัสนักศึกษา :</label> </span>
              
              {{ form.student_id }}
      </div>
      <p>{{ form.student_id.errors }}</p>
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">วันเดือนปีเกิด :</label> </span>
              {{ form.birth_date.errors }}
              {{ form.birth_date }}
      </div>
  
      <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_surname" style="margin: auto; ">ศาสนา :</label> </span>
            {{ form.religion.errors }}
            {{ form.religion }}
      </div> 
      <h3>ข้อมูลติดต่อ</h3>
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">ที่อยู่ (ที่สามารถรับของได้) :</label> </span>
              {{ form.address.errors }}
              {{ form.address }}
      </div>
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">Line id :</label> </span>
              {{ form.line_id.errors }}
              {{ form.line_id }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">Facebook :</label> </span>
              {{ form.facebook.errors }}
              {{ form.facebook }}
      </div>
  
      <div class="form-group input-group">
          <span class="input-group-text" style="background-color: transparent;border: none;"> 
            <label for="id_surname" style="margin: auto; ">instagram :</label> </span>
              {{ form.instagram.errors }}
              {{ form.instagram }}
      </div> 

      <h3>ประวัติการแพ้ (ถ้าไม่มีใส่  -  )</h3>
      <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_surname" style="margin: auto; ">อาหารที่แพ้ :</label> </span>
            {{ form.allergic_foods.errors }}
            {{ form.allergic_foods }}
      </div> 

      <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_surname" style="margin: auto; ">ยาที่แพ้ :</label> </span>
            {{ form.allergic_meds.errors }}
            {{ form.allergic_meds }}
      </div> 

      <div class="form-group input-group">
        <span class="input-group-text" style="background-color: transparent;border: none;"> 
          <label for="id_surname" style="margin: auto; ">โรคประจำตัว :</label> </span>
            {{ form.congenital_disease.errors }}
            {{ form.congenital_disease }}
      </div> 
      {% if message %}<p>{{message}}</p> {%endif%}
      <button class="btn btn-success btn-block" type="submit" >บันทึกข้อมูล</button>
</form>
</div>
</article>
</div>
</div>
{% endblock %}
