{% extends 'base.html' %}

{%block header%}
{% include  'preelec_online/base_header.html' %}
<style>
    h1 {
        text-align: center;
    }

    ul li {
        margin: 2%;
        font-size: 20px;
    }
    td{
        text-align: center;
    }
    th{
        text-align: center;
    }
</style>
{% endblock%}
{% block content%}
<div style="padding-top: 10%; padding-bottom: 10%; max-height: 10000px; margin: 20px 10px 10px 10px ">
    <div class="card bg-light" style="padding: 3%; max-width: 800px; margin: auto;">
        <article class="center" style="max-width: 800px; ">

            <ul>
                <li>ชื่อ-นามสกุล : {{data.gender}}{{data.name}} {{data.surname}}</li>
                <li>ชื่อเล่น : {{data.nickname}}</li>
                <li>รหัสนักศึกษา : {{data.student_id}}</li>
                <li>ที่อยู่ : {{data.address}}</li>
                <li>หมายเลขโทรศัพท์ : {{data.self_telephone_num}}</li>
            </ul>

            <h4>หลักฐานการโอน</h4>
            <img src='{{ img.url }}' alt="connect" class="mx-auto d-block" style=" width: 100%; height: auto;">
            <h5>&nbsp;</h5>
            <h4>รายการสั่งซื้อ</h4>
            <div class="table-responsive" style="margin: 9px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>รายการที่</th>
                            <th>สินค้า</th>
                            <th>จำนวน</th>
                            <th>สี</th>
                            <th>ราคา</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in shop_list %}
                        <tr>
                            <td class="align-middle"><a>{{forloop.counter}}</a></td>
                            <td class="align-middle">{{obj.shop_choices}}</td>
                            <td class="align-middle">{{obj.quantity}}</td>
                            <td class="align-middle">{{obj.color}}</td>
                            <td class="align-middle">{% widthratio obj.quantity 1 obj.price %}</td>
                            {% empty %}
                            <td>ยังไม่เพิ่มรายการ</td>
                            {% endfor %}
                        </tr>

                    </tbody>
                </table>
                <div class="col-md-12 bg-light text-right">
                        <button type="button" class="btn pull-right btn-warning"> ยอดรวม {{total}} บาท </button>
                </div><br>
                {% if not confirmed%}
                <form method='post' action =''>
                {% csrf_token %}
                <input type='submit' name ='confirm' class="btn btn-success btn-block " value='ยืนยันบัญชี'>
                </form>
                {%else%}
                {% if not sent%}
                <form method='post' action =''>
                {% csrf_token %}
                <input type='submit' name ='sent' class="btn btn-info btn-block " value='ยืนยันการส่งของ'>
                </form>
                {% endif %}
                {% endif %}
                
        </article>
    </div>
</div>
{% endblock %}