{% extends 'base.html' %}
{% load static%}
{%block header%}
<style>
  td{
    text-align: center;
  }
  th{
    text-align: center;
  }
</style>
{% include  'preelec9_camp/base_header.html' %}
{% endblock%}
{% block content%}
<div style="padding-top: 10%; padding-bottom: 10%; max-height: 50000px ; margin: 30px 10px 10px 10px  ">
    <div class="card bg-light " style="padding: 3%; max-width: 1200px; margin: auto;" >
        <article  class="center" style="max-width: 1200px; ">
            
<h2 style="text-align: center;">รายการสั่งซื้อ</h2>

<div class="table-responsive">       
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ลำดับที่</th>
        <th>ชื่อ - นามสกุล</th>
        <th>สถานะ </th>
        <th>การดำเนินการ</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in order %}
      <tr> 
        <td>{{forloop.counter}}</td>
        <td>{{ obj.user.eeuserprofile.gender}} {{ obj.user.eeuserprofile.name}} {{ obj.user.eeuserprofile.surname}}</td>
        {% if obj.confirmed%}
        <td style="color: green; font-weight: 600; ">
            ยืนยันแล้ว
        </td>
        {% else%}
        <td style="color: crimson; font-weight: 600; ">
          รอการยืนยัน
        </td>
        {% endif%}
        {% if obj.confirmed%}
        <td><a href='../orderdetail/{{obj.pk}}/' class="btn btn-success" >ยืนยัน</a></td>
        {%else%}
        <td><a href='../orderdetail/{{obj.pk}}/' class="btn btn-danger" >รอยืนยัน</a></td>
        {%endif%}

     {% empty %}
        <td>ยังไม่มีรายการสั่งซื้อ</td>
    {% endfor %}
      </tr>
    
    </tbody>
  </table>
  </div>


</article>
</div>
</div>
{% endblock %}