{% extends 'base.html' %}
{% load static%}
{%block header%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
    h2 {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    tr {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
{% include  'preelec_online/base_header.html' %}
{% endblock%}
{% block content%}

<div style="padding-top: 5%;  margin: 10px 10px 10px 10px">
    </div>
    
<div style=" padding-bottom: 10%; max-height: 5000px ; margin: 30px 10px 10px 10px  ">
    <div class="card bg-light " style="padding: 3%; max-width: 800px; margin: auto;">
        <article class="center" style="max-width: 800px; ">
           

        </article>
    </div>
</div>

{% endblock %}